<%- include('partials/header.ejs') %>

<div class="container small-container">
    <h1><%= book.title %></h1>
    <h5>By <%= book.author %></h5>
    <p>ISBN: <%= book.isbn %></p>
    <% if (book.status) { %>
        <span class="badge rounded-pill read-badge">Read</span>
    <% } else { %>
        <span class="badge rounded-pill to-read-badge">To Read</span>
    <% } %>

    <% if (book.read_date) { %>
        <p class="book-card-text">Date Read: <%= formatPostgresDate(book.read_date) %></p>
    <% } %>
    <% if (book.rating) { %>
        <p class="book-card-text"><%= book.rating %>/5</p>
    <% } %>
    <% if (book.notes) { %>
        <p class="book-card-text"><%= book.notes %></p>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>
