    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="add-book">
            <a href="/addbook" class="btn btn-success">Add Book</a>
        </div>

        <div class="book-grid">

            <% for (let book of books) { %>
                <div class="book-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/gradient.jpg" class="cover-img" alt="Book Cover">
                        </div>
                        <div class="col-md-8">
                            <div class="book-card-body">
                                <h5 class="book-card-title"><%= book.title %></h5>
                                <% if (book.status) { %>
                                    <span class="badge rounded-pill text-bg-success">Read</span>
                                <% } else { %>
                                    <span class="badge rounded-pill text-bg-secondary">To Read</span>
                                <% } %>

                                <% if (book.read_date) { %>
                                    <p class="book-card-text"><%= formatPostgresDate(book.read_date) %></p>
                                <% } %>
                                <% if (book.rating) { %>
                                    <p class="book-card-text"><%= book.rating %>/10</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
                
        </div>
          
    </div>

    <%- include('partials/footer.ejs') %>
