    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="add-book">
            <a href="/addbook" class="btn btn-success">Add Book</a>
        </div>

        <div class="book-grid">

            <% for (let book of books) { %>
                <a href="/view-notes/<%= book.id %>" class="book-card-link">
                <div class="book-card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/gradient.jpg" class="cover-img" alt="Book Cover">
                        </div>
                        <div class="col-md-8">
                            <div class="book-card-body">
                                <h5 class="book-card-title"><%= book.title %></h5>
                                <p class="book-card-subtitle"><%= book.author %></p>
                                <% if (book.status) { %>
                                    <span class="badge rounded-pill read-badge">Read</span>
                                <% } else { %>
                                    <span class="badge rounded-pill to-read-badge">To Read</span>
                                <% } %>

                                <% if (book.read_date) { %>
                                    <p class="book-card-text">Date Read: <%= formatPostgresDate(book.read_date) %></p>
                                <% } %>
                                <% if (book.rating) { %>
                                    <p class="book-card-text"><%= book.rating %>/5</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            <% } %>
                
        </div>
          
    </div>

    <%- include('partials/footer.ejs') %>
